<div class="wrapper">

    <div class="create-community-row" *ngIf="!selected && !newCommunity && checkLogin()">
        <button class="btn btn-primary create-community-button ms-auto" (click)="createNewCommunity()">Create
            Community</button>
    </div>

    <div class="communities-container" *ngIf="!selected && !newCommunity">
        <div class="community-card" *ngFor="let community of communities" (click)="displayCommunity(community)">
            <div class="img-container">
                <img [src]="community.imageUrl">
            </div>
            <h5>{{community.name}}</h5>
            <p>{{community.description}}</p>
            <p class="mt-auto">Houston, Tx</p>
        </div>
    </div>

    <div *ngIf="editCommunity">
        <form name="editForm">
            <div class="form-floating">
                <input class="form-control" type="text" name="name" [(ngModel)]="editCommunity.name">
                <label for="name">Community Name: </label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" name="description" [(ngModel)]="editCommunity.description">
                <label for="author">Description: </label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" name="discordUrl" [(ngModel)]="editCommunity.discordUrl">
                <label for="discordUrl">Discord URL: </label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" name="imageUrl" [(ngModel)]="editCommunity.imageUrl">
                <label for="imageUrl">Image URL: </label>
            </div>
            <br>
            <button class="btn bg-info" (click)="updateCommunity(editCommunity)">Save</button>
            <br>
            <br>
            <button class="btn bg-danger" (click)="editCommunity = null">Cancel</button>
        </form>
    </div>

    <div id="communityPage" *ngIf="selected">
        <div class="col-12" *ngIf="!editCommunity">
            <button class="btn btn-primary " (click)="displayCommunities()">Back</button>
            <button class="btn btn-primary ms-3" (click)="setEditCommunity()" *ngIf="checkLogin() && userId == 1">Edit Community</button>
        </div>

        <div class="head" *ngIf="!selectedPost && !editCommunity">
            <div class="img-container">
                <img [src]="selected.imageUrl" alt="">
            </div>
            <div>
                <h1>{{selected.name}}</h1>
                <p>{{selected.description}}</p>
                <p>{{selected.discordUrl}}</p>

            </div>
        </div>
        <app-post (selectedPost)="receiveSelectedPost($event)" *ngIf="!editCommunity"></app-post>
    </div>

    <div *ngIf="newCommunity">
        <form #communityForm="ngForm">
            <h2>Create New Community</h2>

            <div class="form-group">
                <label for="name">Community Name</label>
                <input type="text" id="name" name="name" [(ngModel)]="newCommunity.name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" [(ngModel)]="newCommunity.description"
                    required></textarea>
            </div>
            <div class="form-group">
                <label for="discordUrl">Discord URL</label>
                <input type="url" id="discordUrl" name="discordUrl" [(ngModel)]="newCommunity.discordUrl">
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="newCommunity.imageUrl">
            </div>
            <button class="btn btn-primary" (click)="createCommmunity(newCommunity)">Create</button>
            <button type="button" class="btn btn-secondary" (click)="newCommunity = null">Cancel</button>
        </form>
    </div>




</div>