<p>profile works!</p>
<!-- <div class="user-container " *ngIf="!selected">
    <div class="user-card" *ngFor="let user of users" (click)="getuserProfile(loggedInUser)">
        <div class="img-container">
            <img [src]="loggedInUser?.role">
        </div>
        <h5>{{loggedInUser?.username}}</h5>
        <p>{{loggedInUser?.email}}</p>
        <p class="mt-auto">Houston, Tx</p>

    </div>
</div>


<div id="profilePage" *ngIf="selected">

    <div class="head">
        <div class="img-container">
            <img [src]="selected.imageUrl" alt="">
        </div>
        <div>
            <h1>{{selected.name}}</h1>
            <p>{{selected.description}}
                <br>
            {{selected.discordUrl}} </p>
            

        </div>
    </div>
    <div >

    </div>

    <button (click)="selected = null">Back</button>
</div> -->