<div>


</div>
<button class="btn btn-primary" (click)="createNewPost()" *ngIf="!newPost">Create Post</button>

<div>
    <div *ngIf="!selected">
        <!-- class="post-container" -->
        <div class="post-container container-fluid" *ngFor="let post of posts">
            <div class="col-12" (click)="sendSelectedPost(post)">
                <div class="post-header" *ngIf="post.user">
                    <div class="post-user"><span>{{post.user.username}}</span></div>
                    <!-- <div class="post-timestamp">Created at: <span>{{post.createdAt}}</span></div> -->
                    <button (click)="setEditPost(post)" class="btn btn-secondary" *ngIf="post.user.id == userId">
                        Edit
                    </button>
                </div>
                <img class="col-12" [src]="post.imageUrl" alt="">

            </div>
            <div class="post-description" (click)="sendSelectedPost(post)">{{post.description}}</div>
            <div class="post-footer" (click)="log(post)">
                <!-- <div class="post-updated">Updated at: <span>{{post.updatedAt}}</span></div> -->

                <button type="button" (click)="toggleComments(post)">{{post.comments.length}} Comments</button>

            </div>

            <app-comments [parentPost]="selectedPostComments" *ngIf="isCommentsVisible(post)"></app-comments>

        </div>
    </div>

    <div class="postPage" *ngIf="selected">
        <button class="btn btn-success" (click)="sendSelectedPost(null)">Back</button>
        <h1>{{selected.imageUrl}}</h1>
        <h1>{{selected.description}}</h1>
        <div>
            <button (click)="generateNewComment()">Comment</button>
            <div *ngIf="newComment">
                <textarea name="message" [(ngModel)]="newComment.message" placeholder="Comment"></textarea>
                <button (click)="generateNewComment">Create</button>
                <button (click)="deleteComment">Delete</button>
                <button (click)="newComment=null">Cancel</button>
            </div>

        </div>
    </div>

</div>

<div *ngIf="newPost">
    <h3>Create New Post</h3>
    <form (ngSubmit)="addPost(newPost, currentCommunityId)">
        <div class="form-group">
            <label for="postDescription">Post</label>
            <textarea id="postDescription" [(ngModel)]="newPost.description" name="description" class="form-control"
                required>
            </textarea>

            <label for="">Image Url</label>
            <input type="text" name="imageUrl" [(ngModel)]="newPost.imageUrl">

        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <button class="btn btn-primary ms-2" (click)="newPost=null">Cancel</button>
    </form>
</div>

<div *ngIf="editPost">
    <h3>Edit Post</h3>
    <form (ngSubmit)="updatePost(editPost, currentCommunityId)">
        <div class="form-group">
            <label for="editPostDescription">Description</label>
            <textarea id="editPostDescription" [(ngModel)]="editPost.description" name="description"
                class="form-control" required>
            </textarea>

            <label for="">Image Url</label>
            <input type="text" name="imageUrl" [(ngModel)]="editPost.imageUrl">
        </div>
        <button type="button" (click)="editPost = null" class="btn btn-secondary">Cancel</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button (click)="deletePost(currentCommunityId, editPost.id)" class="btn btn-danger">Delete</button>
    </form>
</div>