<body>
    <div class="post-container" *ngFor="let post of posts">
        <div class="post-header">
            <div class="post-user"><span>{{post.user.username}} </span></div>
            <div class="post-timestamp">Created at: <span id="createdAt">{{post.createdAt}}</span></div>
        </div>
        <div class="post-category">Category: <span id="postCategory">{{post.postCategory.name}}</span></div>
        <div class="post-description" id="description">
            
        </div>
        <div class="post-location">Location: <span id="location">{{post.location.city}}, {{post.location.state}}</span></div>
        <div class="post-footer">
            <div class="post-updated">Updated at: <span id="updatedAt">2024-05-25</span></div>
        </div>
    </div>
</body>

