<p>edit-profile works!</p>

<div *ngIf="editUser"> 

    <form name="editForm">
        <div class="form-floating">
            <input class="form-control" type="text" name="username" [(ngModel)]="editUser.username">
            <label for="name">Username: </label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" name="password" [(ngModel)]="editUser.password">
            <label for="author">Password: </label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" name="firstName" [(ngModel)]="editUser.firstName">
            <label for="firstName">First Name: </label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" name="lastName" [(ngModel)]="editUser.lastName">
            <label for="lastName">Last Name: </label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" name="email" [(ngModel)]="editUser.email">
            <label for="email">Email: </label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" name="imageUrl" [(ngModel)]="editUser.imageUrl">
            <label for="imageUrl">Image URL: </label>
        </div>
        <br>
        <button class="btn btn-secondary" (click)="setUpdatedUserProfile()">Edit profile</button>
        <br>
        <br>
        <button class="btn bg-danger" (click)="editUser = null">Cancel</button>
    </form>
    
    </div>
